.review-item{
    display: flex;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 571px;
    margin: 21px auto;
    padding: 8px;
}

.review-details-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 17px;
}

.review-item img{
    width: 90px;
}

.review-details p{
    margin: 0;
}

/* Delete Icon Style */
.delete-container{
    display: flex;
    align-items: center;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(235, 87, 87,0.1);
}
.delete-container :hover{
    background-color: rgb(235, 87, 87,0.3);
    cursor: pointer;
}
.delete-icon{
    color: #EB5757;
    font-size: 31px;
}

