.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 140px;
    padding-left: 140px;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 50px;
    margin-right: 30px;
}
.header a:hover{
    color: orange;
    cursor: pointer;
    
}